/* General */
a{ color : #ffffff; text-decoration:none; }

/* Header */
nav{ justify-content: space-around; align-items: center; }
nav, nav ul, nav ul li{ list-style: none; display:flex; flex-wrap: wrap; flex-direction:row; }
nav ul.navbar li, nav ul.navbar li a{ margin : 5px; }

/** Div logo **/
.logo{ font-size:20px; }

/** Navbar**/
nav ul.navbar li:hover{ background: rgba(147, 0, 0, 0.77); }

/** Socialbar **/
nav ul.social {display:flex; }
nav ul.social li {justify-content: center; align-items: center; width:30px; }
nav ul.social li, nav ul.social li a { margin:5px; }

.social li:first-child:hover{ background:#3B5998; }
.social li:nth-child(2):hover{ background:#1DA1F2; }
.social li:nth-child(3):hover{ background:#E62117; }
.social li:nth-child(4):hover{ background:#DB4437; }
.social li:nth-child(4):hover{ background:#6441A4; }

@media screen and (max-width: 768px){
  nav ul.social{
    display:none;
  }
}
