<div class="comp">
  <nav>
    <div class="logo">
      <a href="#">LaviFR</a>
    </div>
    <ul class="navbar">
      <li><a href="#">Accueil</a></li>
      <li><a href="#">Test</a></li>
      <li><a href="#">Jeux</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="social">
      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitch" aria-hidden="true"></i></a></li>
    </ul>
  </nav>
</div>
