*{
  margin:0;
  padding:0;
  -webkit-transition: all 1.0s ease;
  -moz-transition: all 1.0s ease;
  transition: all 1.0s ease;
  transition-property: all;
  transition-duration: 1.0s;
  transition-timing-function: ease;
  transition-delay: initial;
}

/* HEADER */
header{
  background:rgb(192, 57, 43);
  font-family:'Roboto', open-sans;
  color: #fff;
}

header a {
  color : #ffffff;
}

@media screen and (min-width:1200px){
  .comp{
      width:1440px;
      margin:0 auto;
  }
}
